* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem 3% 0rem 3%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.nav-link {
    color: #6985b9;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 20px;
}

.nav-link:hover {
    color: #8baff1;
    cursor: pointer;
}

.hero-title {
    margin: 50px auto 0 auto;
    font-family: 'Waterfall', cursive;
    font-size: 170px;
    font-weight: lighter;
    line-height: 2;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: #92A8D1;
}

.tagline {
    font-family: 'Inconsolata', monospace;
    font-size: 2.5rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin: 0;
}

p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: gray;
}

hr {
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-top-style: dotted;
    height: 0;
    width: 5%;
    border-width: 7px;
    border-color: #928b86;
}

.hero-section {
    width: 100%;
    margin-top: 100px;
    background: linear-gradient(135deg, #F7CAC9, #92A8D1);
    position: relative;
    padding-top: 100px;
    border-top-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    padding-bottom: 150px;
}

.hero-content {
    margin: 0 auto;
    padding: 0 20px;
}

#profile {
    margin: 100px auto 100px auto;
}

.profile-pic {
    width: 30%;
    margin-bottom: 5%;
}

.about-me {
    text-align: justify;
    padding: 0 20%;
    line-height: 1.5;
    font-size: 20px;
    color: gray;
}

#top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: relative;
    right: 400px;
    top: 25px;
}

.bottom-cloud-div {
    height: 100px;
}