* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem 3% 0rem 3%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.nav-link {
    color: #6985b9;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 20px;
}

.nav-link:hover {
    color: #8baff1;
    cursor: pointer;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Shantell Sans', cursive;
  font-family: 'Waterfall', cursive;
  font-size: 170px;
  font-weight: lighter;
  line-height: 2;
  color: rgb(232, 108, 108);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #92A8D1;
}